*.ckpt
*.pth
*.onnx

*.xml
*.bin
*.mapping

*.jpg
*.jpeg

!imgs/*.jpeg
!figures/classifier_torch/*.png
!figures/confusion_matrix/*.png
!figures/generator_torch/*.png
!figures/heatmap/*.png
!figures/display/*.png

.idea/
.vscode/
__pycache__/
